/** MODULE: no inserta el SCSS, pero puedo usar sus variables, mixins y extends **/
@import "module";

/** PARTIAL:  inserta el SCSS en este archivo **/
@import "page";
@import "colors";

/** PSEUDO-FUNCIONES: mixins y extends **/
@mixin spaceHeight($letterspace, $lineheight) {
	letter-spacing: $letterspace;
	line-height: $lineheight;
}

%mayus {
	text-transform: uppercase;
}

/** RESTO DEL CÓDIGO: copiado de style.css original y adaptado **/
body {
	background: url(../images/bg-body.jpg) repeat;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	margin: 0;
	min-width: 940px;
	padding: 0;
}

a {
	outline: none;
}

img {
	border: 0;
}

p {
	margin: 0;
	text-align: justify;
}

/* Header y nesting de header */
#header {
    color: $color_white;
	height: 151px;

	a#logo {
		display: block;
		height: 86px;
		padding: 15px 0 0 20px;
	}

	a#logo img {
		display: block;
		margin: 0 auto;
	}

	// & se sustituye por el parent selector:
	& > ul {
		height: 49px;
		float: left;
		list-style: none;
		margin: 0;
		padding: 0;
		width: 900px;

		& > li {
			float: left;
			position: relative;
			width: 150px;

			& > a {
				color: $color_yellowlight;
				display: block;
				@include spaceHeight(0.1em, 49px);
				text-align: center;
				text-decoration: none;

				&:hover {
					background: #daead0;
					color: #1b330c;
				}
			}
		}
	}

	ul li ul {
		list-style: none;
		left: -99999px;
		margin: 0;
		overflow: visible;
		padding: 11px 0 0;
		position: absolute;
		top: 49px;
		width: 150px;
		z-index: 2;
	}
	ul li:hover ul {
		left: 0;
		top: 49px;
	}
	ul li ul li {
		background: $color_grey;
	}
	ul li ul li a {
		color: $color_yellowlight;
		display: block;
		line-height: 31px;
		text-align: center;
		text-decoration: none;
	}

}

#header > ul > li.current > a,
#header > ul > li.current > a:hover,
#header ul li ul li.current a,
#header ul li ul li.current a:hover {		//TODO meter en el nesting
	background: #96b285;
	color: #356618;
}

/* Contenidos y nesting de contenidos */

#body {

	div.header {
		height: 557px;

		div {
			position: relative;

			div {
				background: url(../images/bg-description.png) repeat-x;
				height: 75px;
				bottom: 0;
				position: absolute;
				padding: 17px 20px;
				left: 0;
				width: 860px;

				h1 {
					@extend %mayus;
					font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
					font-size: 24px;
					font-weight: normal;
					margin: 0;
					
					a {
						color: $color_yellowlight;
						text-decoration: none;

						&:hover {
							color: $color_white;
						}
					}
				}

				p {
					color: $color_white;
					@include spaceHeight(0.028em, 24px);

					a.continue {
						background: url(../images/interface.png) no-repeat -400px 0;
						display: inline-block;
						height: 20px;
						left: 3px;
						position: relative;
						top: 5px;
						width: 20px;

						&:hover {
							background: url(../images/interface.png) no-repeat -400px -20px;
						}
					}
				}
			}
		}	
	}

	div.header {

		ul {
			list-style: none;
			margin: 0;
			overflow: hidden;
			padding: 10px 0;

			li {
				background: url(../images/separator1.png) repeat-y;
				float: left;
				overflow: hidden;
				padding: 9px 20px 7px 0;
				width: 280px;

				&:first-child {
					background: none;
				}

				a.figure img {
					display: block;
					border: 1px solid #ffffff;
					margin: 0 20px 0;
				}

				&.current h3 a {
					color: #e3e699;
				}
				
				h3 {
					font-size: 16px;
					font-weight: normal;
					@include spaceHeight(0.028em, 13px);
					margin: 0;
					padding: 0 0 10px;
				}

				h3 a {
					color: #e3e699;
					text-decoration: none;

					&:hover {
						color: $color_white;
					}
				}
				
				p {
					color: $color_white;
					@include spaceHeight(0.022em, 18px);
					text-align: left;
				}
			}
		}
	}

	div.body {
		padding: 23px 20px 0;

		ul {
			list-style: none;
			margin: 0;
			overflow: hidden;
			padding: 21px 0;

			li {
				float: left;
				margin: 0 0 0 20px;
				width: 200px;

				h2 {
					@extend %mayus;
					color: #836145;
					font-size: 16px;
					font-weight: normal;
					margin: 0;
					padding: 24px 0 10px;
				}
				
				p {
					color: $color_grey;
					@include spaceHeight(0.028em, 24px);
					text-align: left;
				}
			}
		}	
	}

	div.footer {
		border-top: 1px solid #d7d6cd;
		margin: 0 20px;
		overflow: hidden;
		padding: 23px 0;

		img {
			display: block;
			float: left;
		}
		
		div {
			float: right;
			width: 540px;

			ol {
				margin: 0;
				padding: 20px 0 0 20px;

				li {
					color: #4b4b4b;
					font-weight: bold;
					margin: 10px 0;

					p {
						font-weight: normal;
						@include spaceHeight(0.028em, 24px);
					}
				}
			}
		}
	}
}

#body div.header div a img:hover,
#body div.header ul li a.figure img:hover,
#body div.body ul li a img:hover {
	filter: alpha(opacity=90);/* Needed for IE8 and old versions */
	opacity: 0.9;
}

#body div#content ul.section li img,
#body div.header ul li a.figure {
	display: block;
	float: left;
}

#body div.body h1,
#body div.footer div h1 {
	@extend %mayus;
	background: #dce9d4;
	border-bottom: 2px solid #b3cca4;
	color: #836145;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 18px;
	font-weight: normal;
	height: 37px;
	line-height: 37px;
	margin: 0;
	padding: 0 0 0 20px;
	text-shadow: 1px 1px 1px #ffffff;
}

#body div.body ul li:first-child,
#body div#content ul.section li:first-child,
#body div#content div#sidebar div ul li:first-child {
	margin: 0;
}

#body div#content {
	border-top: 1px solid #5d8546;
	overflow: hidden;
	padding: 35px 20px;
}
#body div#content h1 {
	@extend %mayus;
	color:$color_greylight;
	font-size: 20px;
	letter-spacing: 0.028em;
	margin: 0;
}
#body div#content h3 {
	color: #836145;
	font-size: 16px;
	font-weight: normal;
	@include spaceHeight(0.028em, 24px);
	margin: 0;
	padding: 30px 0 0;
}
#body div#content h3.first {
	padding: 12px 0 0;
}
#body div#content p {
	@include spaceHeight(0.028em, 24px);
	padding: 25px 0 0;
}
#body div#content ul.section {
	list-style: none;
	margin: 0;
	padding: 29px 0 0;
}
#body div#content ul.section li {
	margin: 35px 0 0;
	overflow: hidden;
}
#body div#content ul.section li span {
	display: block;
	float: left;
}
#body div#content ul.section li div {
	float: right;
	width: 520px;
}
#body div#content ul.section li div h2,
#body div#content div#article h2 {
	color: #836145;
	font-size: 16px;
	@include spaceHeight(0.028em, 13px);
	margin: 0;
}
#body div#content ul.section li div p {
	padding: 23px 0 0;
}
#body div#content form {
	margin: 0;
	padding: 30px 0 0;
}
#body div#content form p {
	color: $color_greylight;
	padding: 0 0 25px;
}
#body div#content form label {
	display: block;
	margin: 20px 0;
	overflow: hidden;
}
#body div#content form label span:first-child {
	@extend %mayus;
	background: none;
	color: #836145;
	float: left;
	height: auto;
	width: 200px;
}
#body div#content form label span {
	background: url(../images/interface.png) no-repeat;
	display: block;
	float: left;
	height: 19px;
	width: 320px;
}
#body div#content form label span input {
	background: none;
	border: none;
	color: $color_greylight;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	height: 17px;
	@include spaceHeight(0.028em, 17px);
	margin: 1px 0 0 2px;
	padding: 0;
	width: 316px;
}
#body div#content form label span.message {
	background: url(../images/interface.png) no-repeat 0 -25px;
	height: 151px;
}

#body div#content form label span.message textarea {
	background: none;
	border: none;
	color: $color_greylight;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	height: 147px;
	letter-spacing: 0.028em;
	margin: 2px 0 0 2px;
	overflow: auto;
	padding: 0;
	resize: none;
	width: 316px;
}
#body div#content form input#send {
	@extend %mayus;
	background: url(../images/interface.png) no-repeat -331px -56px;
	border: none;
	color: $color_white;
	cursor: pointer;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	height: 25px;
	@include spaceHeight(0.028em, 25px);
	margin: 0 0 0 440px;
	text-align: center;
	text-shadow: 1px 1px 1px #514b61;
	width: 80px;
}
#body div#content form input#send:hover {
	background: url(../images/interface.png) no-repeat -331px -81px;
}
#body div#content div#article {
	border-right: 1px solid #96b285;
	float: left;
	padding: 0 20px 0 0;
	width: 580px;
}
#body div#content div#article img {
	display: block;
	margin: 0 0 35px;
}
#body div#content div#article h1 {
	padding: 0 0 17px;
}
#body div#content div#article h2 {
	line-height: 24px;
}
#body div#content div#article span {
	color: $color_greylight;
	display: block;
	@include spaceHeight(0.028em, 24px);
}
#body div#content div#sidebar {
	float: right;
	width: 242px;
}
#body div#content div#sidebar h3 {
	@extend %mayus;
	color:$color_greylight;
	font-weight: bold;
	line-height: normal;
	padding: 0 0 15px;
}
#body div#content div#sidebar div {
	border-top: 1px solid #96b285;
	padding: 20px 0;
}
#body div#content div#sidebar div:first-child {
	border: none;
	padding: 0 0 20px;
}
#body div#content div#sidebar div ul,
#footer div div ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#body div#content div#sidebar div ul li {
	color: $color_greylight;
	@include spaceHeight(0.028em, 24px);
}
#body div#content div#sidebar div ul li a {
	color: $color_greylight;
	text-decoration: none;
}
#body div#content div#sidebar div ul li a:hover {
	color: #4b4b4f;
}
#body div#content div#sidebar div:first-child ul li {
	@include spaceHeight(0.028em, 18px);
	margin: 15px 0 0;
}
#body div#content div#sidebar div p {
	color: $color_greylight;
	padding: 0;
}

/* Footer y nesting de footer */
#footer {
	background: #dce9d4;
	border-top: 1px solid #b8d0aa;

	div {
		height: 174px;
		overflow: hidden;

		div {
			border-left: 1px solid #b8d0aa;
			float: left;
			height: 134px;
			padding: 20px 20px;
			width: 180px;

			h1 {
				@extend %mayus;
				color: #8c8c8c;
				font-size: 18px;
				font-weight: normal;
				margin: 0;
				padding: 0 0 13px;
				text-shadow: 1px 1px 1px #ffffff;
			}

			ul li a {
				@include spaceHeight(0.028em, 18px);
			}

			a {
				color: #8c8c8c;
				display: block;
				letter-spacing: 0.05em;
				text-decoration: none;

				&:hover {
					color: #4b4b4f;
				}
			}

			a#mail {
				background: url(../images/icons.png) no-repeat;
				height: 14px;
				line-height: 14px;
				margin: 0 0 10px;
				padding: 0 0 0 30px;

				&:hover {
					background: url(../images/icons.png) no-repeat 0 -14px;
				}
			}
			
			a#facebook {
				background: url(../images/icons.png) no-repeat 0 -38px;
				height: 20px;
				line-height: 20px;
				margin: 0 0 10px;
				padding: 0 0 0 30px;

				&:hover {
					background: url(../images/icons.png) no-repeat 0 -58px;
				}
			}

			a#twitter {
				background: url(../images/icons.png) no-repeat 0 -88px;
				height: 18px;
				line-height: 18px;
				margin: 0 0 10px;
				padding: 0 0 0 30px;

				&:hover {
					background: url(../images/icons.png) no-repeat 0 -106px;
				}
			}

			a#googleplus {
				background: url(../images/icons.png) no-repeat 0 -134px;
				height: 20px;
				line-height: 20px;
				margin: 0 0 10px;
				padding: 0 0 0 30px;

				&:hover {
					background: url(../images/icons.png) no-repeat 0 -154px;
				}
			}

		}

		&:first-child {
			border: none;
		}
	}

	p {
		color: $color_white;
		height: 37px;
		line-height: 37px;
		text-align: center;
		text-shadow: 1px 1px 1px #8da181;
	}
}
